.App {
  text-align: left;
  height: 100%;
  width: 100%;
}

.Nav-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(2px + 2vmin);
  width: 100%;
}

.Nav-element:hover {
  border-bottom: 3px solid #21e6c1;
}

#Active {
  border-bottom: 3px solid #21e6c1;
}

.Error {
  color: red;
  font-size: 0.75rem;
}

@media only screen and (min-width: 600px) {
  .Navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    margin-right: auto;
    background-color: #1f4287;
    min-width: 200px;
    width: 20%;
    height: 10%;
    bottom: 0;
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;
  }
  .Navbar:hover {
    width: 22%;
  }
  .Nav-icon {
    padding: 0;
    margin: 0;
    font-size: calc(10px + 3vh);
    text-align: center;
    color: #21e6c1;
    text-decoration: none;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  .Nav-text {
    margin-left: 5px;
  }
  .Title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background-color: #071e3d;
    width: 100%;
    padding-left: 10px;
  }
}

.App-header {
  margin: 0;
  padding: 0;
  background-color: #21e6c1;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Body {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #21e6c1;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.Section h2 {
  color: #1f4287;
  border-bottom: 3px solid #278ea5;
  border-radius: 5px;
  padding: 1vh;
  margin: 1vw;
  height: 100%;
}

.Section a {
  color: #21e6c1;
  height: 1000%;
}

.Section a h2 {
  color: #1f4287;
}

.Section a h2:visited {
  color: #278ea5;
}

@media only screen and (max-width: 600px) {
  .App-header {
    background-color: #21e6c1;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-Body {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    background-color: #21e6c1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .Navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: #1f4287;
    width: 100vw;
    height: 10vh;
  }
  .Navbar:hover {
    width: 100vw;
  }
  .Nav-element {
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    margin-right: 8%;
    display: inline-block;
    font-size: calc(2px + 2vmin);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .Nav-element:hover {
    border-bottom: 3px solid #21e6c1;
  }
  .Nav-icon {
    padding: 0;
    margin: 0;
    margin-top: 0.5vh;
    font-size: 9vh;
    color: #21e6c1;
    text-align: center;
  }
  #Active {
    background-color: #071e3d;
  }
  .Nav-text {
    overflow: hidden;
    visibility: hidden;
  }
  .Title {
    visibility: hidden;
    overflow: hidden;
  }
}

.Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  color: white;
  margin: calc(20px + 3vh);
  font-size: calc(8px + 1vh);
}

.Searchbar {
  display: block;
  float: top;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App-link {
  color: #61dafb;
}

:root {
  scrollbar-color: #d2d2d2 #2e3645 !important;
  scrollbar-width: thin !important;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

footer {
  text-align: center;
  height: 50px;
  background-color: #071e3d;
}

a {
  color: #21e6c1;
}

a:visited {
  color: #278ea5;
}

footer a {
  display: block;
  padding: 10px;
  color: #21e6c1;
}

footer a:visited {
  color: #21e6c1;
}

footer a:hover {
  color: #278ea5;
}
/*# sourceMappingURL=App.css.map */